/*
    File Name: main.css
    Author Name: Paul Bialo
    Web Site Name: Blogging Site
    File Description: Styling changes performed after Base template package is applied
*/


header {
	height: 155px;
	width: 99.5%;
	border-radius: 10px;
	margin: 0.25%;
}

footer {
	text-align: center;
}

nav {
	float:right;
	margin-right: 4%;
}

nav .button {
    padding: 7px 15px 7px;
    width: 120px;
}

.row {
	margin: 1%;
}

#mainheader {
	text-align:left;
	color:black;
	margin-left: 4%;
	margin-right: 4%;
	font-size: 3.5em;
	margin-top: 0;
}

.login {
margin-left:10%;
margin-right:10%;

}

#error {
	color: red;
	font-style: italic;
}